body{
    font-family: 'Inter', sans-serif;
    margin: auto;
    width: 1280px;
    background: #2C2B3D;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 71px 100px 71px;
}

ul {
   display: flex;
   list-style: none;
   gap: 64px;
   margin: 0;
   padding: 0;
}

a {
color:#FFFFFF;
   text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

#desenho {
    margin-left: 89px;
}
section {
    text-align: center;
    margin-right: 89px;
}


h1 {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 40px;
}

h1 span {
    color: #00BFA6;
}

p {
    color: #C2C2C2;
    size: 16px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

footer {
    text-align: center;
    margin-top: 157px;
    margin-bottom: 23px;
}

#line {
    width: 568px;
    margin: auto;
    border: 1px solid #00BFA6;
}

#padlock {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
}

